.techbox {
  padding-top: 4.5rem;
  cursor: pointer;
  margin-inline-start: 2rem;

  svg {
    border: 0.1rem solid #333;
    border-radius: 0.2em;
    padding: 0.3em;
    width: 3rem;
  }
}

.tech-discription-block {
  padding-top: 0.5rem !important;
  cursor: default;
}

.techstack-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
}

.languages {
  list-style: none;
  display: flex;
  // justify-content: center;
  align-items: center;
  width: 23.6%;
  min-width: 257px;
  gap: 1rem;
  height: 6rem;

  &:hover {
    background-color: $heading-font-color;
  }

  img {
    margin-left: 1.5rem;
    width: 24px;
    user-select: none;
  }

  span {
    font-size: 2rem;
  }
}

//
.techStackView {
  margin-bottom: 5rem;
  border-bottom: 0.1rem solid #333;

  ul {
    display: flex;
  }

  li {
    list-style: none;
  }
}

.tech-box-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//
// .techstack-list {
//     display: flex;
//     flex-wrap: wrap;
//     column-gap: 2rem;
//     row-gap: 3rem;
// }

// .languages {
//     list-style: none;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     width: 23.6%;
//     min-width: 257px;
//     gap: 1rem;
//     height: 17rem;
//     border-bottom: 3px solid black;
//     border-top-left-radius: .3rem;
//     border-top-right-radius: .3rem;
//     box-shadow: 10px 5px 10px 0px #e1e1e1,
//                 5px 10px 10px 0px #e1e1e1;

//     // &:hover {
//     //     background-color: $heading-font-color;
//     // }

//     img {
//         // margin-left: 1.5rem;
//         width: 84px;
//         user-select: none;
//         margin-left: 0;
//     }

//     span {
//         font-size: 2rem;
//     }
// }

// #java {
//     border-bottom-color: #73a1fa;
// }

// #python {
//     border-bottom-color: #fecf3b;
// }

// #javascript {
//     border-bottom-color: #efdb4f;
// }

// #c {
//     border-bottom-color: #659bd2;
// }

// #cpp {
//     border-bottom-color: #004283;
// }

// #html {
//     border-bottom-color: #ff4b00;
// }

// #css {
//     border-bottom-color: #2096f3;
// }

// #scss {
//     border-bottom-color: #cc6699;
// }

// #django {
//     border-bottom-color: #44b78b;
// }
