:root {
    --blue: #2c98f0;
    --body-background: #333;
    --text-color: whitesmoke;
    --my-photo-border-color: whitesmoke;
    --heading-hover-color: #ffffff80;
    --shadow-color: #ffffff80;
}

$heading-font-color: #00000014;
$heading-font-color-hover: #aaaaaa;

// 9454278175