body {
    margin: 0;
    right: 0;
    left: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, rgb(56, 56, 56), rgb(36, 36, 36));
}

.header {
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color: #d43e39;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid linear-gradient(90deg, rgb(56, 56, 56), rgb(36, 36, 36));;
}

a {
    text-decoration: none;
    color: white;
}

.header ul {
    list-style: none;
    display: flex;
    margin: 0;
    font-size: 24px;
    color: white;
}

.header ul li {
    padding: 15px 15px 0px 15px;
}

.header ul li:hover {
    background-color: #1c1c42;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgb(56, 56, 56), rgb(36, 36, 36));
    margin: 0;
}

@media (max-width: 500px){
    .container > h1 {
        font-size: 100vw;
    }
}

.container > h1 {
    margin-bottom: 0;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 64px;
    font-weight: 600;
}

.container > span {
    margin-bottom: 0;
    color: rgb(180, 52, 52);
    font-size: 22px;
    font-style: italic;
    font-weight: 100;
}

.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgb(226, 79, 79), rgb(65, 185, 28));
    margin: 0;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    background: linear-gradient(90deg, rgb(56, 56, 56), rgb(36, 36, 36));
    margin: 0;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    background: linear-gradient(90deg, rgb(133, 72, 72), rgb(177, 66, 66));
    margin: 0;
}

